%logo {
  font-family: $logoFont;
  font-weight: 700;
  text-decoration: none;
}

.logo-header {
  margin-right: 85px;
  @extend %logo;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer {
  margin-bottom: 10px;
  @extend %logo;
  font-size: 22px;
  line-height: 1.18;

  color: $titleTextColor;
}

.logo-accent {
  color: $accentColor;
}
